@use '../../../theme/scss/responsive.scss';
@use '../../../theme/scss/utils.scss';

.DaCardContainerComponent {
  &-chip {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);

    & .MuiChip {
      &-label {
        padding-inline: utils.spacing(2.5);
      }
    }
  }

  &-root {
    border-style: solid;
    border-width: 2px;
    padding: utils.spacing(5) utils.spacing(3);
    position: relative;
  }
}
