@use '../../../theme/scss/responsive.scss';
@use '../../../theme/scss/utils.scss';

.DaUserComponent {
  &-root {
    align-items: center;
    display: flex;
    gap: utils.spacing(1.5);
  }

  &-username {
    margin-bottom: utils.spacing(0.5);

    @include responsive.mq(sm) {
      margin-bottom: utils.spacing(0.25);
    }
  }
}
