.DaHamburgerModule {
  &-drawer .MuiDrawer-paper {
    border: none;
  }

  &-navigation .DaListComponent {
    &-link {
      &--active, &:hover {
        color: var(--mui-palette-primary-contrastText);
      }

      &--active {
        background-color: var(--mui-palette-grey-400);
      }

      &:hover {
        background-color: var(--mui-palette-primary-main);
      }
    }
  }
}