@use '../../../theme/scss/responsive.scss';
@use '../../../theme/scss/utils.scss';

.DaFeatureCardHeaderComponent {
  &-description {
    color: var(--mui-palette-grey-300);
    grid-column: 2 / 3;
  }

  &-root {
    column-gap: utils.spacing(4);
    display: grid;
    grid-template-columns: 40px 1fr;
    padding: utils.spacing(5) utils.spacing(4);

    @include responsive.mq(lg) {
      padding-inline: utils.spacing(3);
    }

    @include responsive.mq(md) {
      display: flex;
      flex-direction: column;
      gap: utils.spacing(2.5);
    }

    @include responsive.mq(sm) {
      padding-inline: utils.spacing(2);
    }
  }

  &-title {
    margin-bottom: utils.spacing(1.5);
  }
}
