@use '../../../theme/scss/responsive.scss';
@use '../../../theme/scss/utils.scss';

.DaGetStartedHeaderComponent {  
  &-root {
    @include responsive.mq(md) {
      gap: utils.spacing(5);
    }

    @include responsive.mq(sm) {
      gap: utils.spacing(3);
    }
  }

  &-title {
    margin-bottom: utils.spacing(1);
  }
}