.DaChipComponent {
  &-root {
    &.MuiChip {
      &-sizeMedium {
        font: var(--mui-font-p4);
        font-weight: var(--prodiggy-font-weight-bold);
        height: 35px;
      }

      &-sizeSmall {
        font: var(--mui-font-p5);
        font-weight: var(--prodiggy-font-weight-bold);
        height: 30px;
      }
    }
  }

  &-withoutBorderRadius {
    border-radius: 0;
  }
}
