.DaImageComponent {
  &-image {
    &--filled {
      height: auto !important;
      position: relative !important;
    }
  }

  &-root {
    position: relative;

    &--centered {
      margin: 0 auto;
    }
  }
}
