@use '../../../theme/scss/responsive.scss';
@use '../../../theme/scss/utils.scss';

.DaGetStartedComponent {  
  &-image {
    @include responsive.mq(md) {
      max-width: 100% !important;
    }
  }

  &-root {
    background-color: var(--mui-palette-grey-600);
    display: grid;
    gap: utils.spacing(3);
    grid-template-columns: minmax(0,320px) minmax(0,493px);
    justify-content: space-between;
    margin: 0 auto;
    max-width: responsive.breakpoint(xl);
    padding: utils.spacing(4);

    @include responsive.mq(md) {
      gap: utils.spacing(5);
      grid-template-columns: none;
      justify-content: initial;
    }

    @include responsive.mq(sm) {
      gap: utils.spacing(4);
      padding: utils.spacing(3);
    }
  }
}