@use 'sass:map';

$prodiggy-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1400px
);

@function breakpoint($name) {
  @if not map.has-key($prodiggy-breakpoints, $name) {
    @error "Breakpoint `#{$name}` does not exist in \$prodiggy-breakpoints. Available keys are: #{map.keys($prodiggy-breakpoints)}.";
  }
  
  @return map.get($prodiggy-breakpoints, $name);
}

@mixin mq($breakpoint, $type: max) {
  $value: map.get($prodiggy-breakpoints, $breakpoint);

  @if not $value {
    @warn "Unknown breakpoint `#{$breakpoint}`.";
  } @else if $type != max and $type != min {
    @warn "Invalid type `#{$type}`. Use 'max' or 'min'.";
  } @else {
    @media (#{$type}-width: #{$value}) {
      @content;
    }
  }
}