@use '../../../theme/scss/responsive.scss';
@use '../../../theme/scss/utils.scss';

.DaModuleCardComponent {
  &-icon {
    background-color: var(--mui-palette-primary-main);
    box-sizing: content-box;
    color: var(--mui-palette-text-primary);
    margin-bottom: utils.spacing(3.5);
    max-width: fit-content;
    padding: utils.spacing(1);

    svg {
      display: block;

      @include responsive.mq(sm) {
        font-size: 2rem;
      }
    }

    @include responsive.mq(sm) {
      margin-bottom: utils.spacing(2.5);
    }
  }

  &-root {
    max-width: 440px;
    padding: utils.spacing(5);

    @include responsive.mq(lg) {
      padding: utils.spacing(4);
    }

    @include responsive.mq(sm) {
      padding: utils.spacing(3);
    }
  }

  &-title {
    margin-bottom: utils.spacing(2.5);

    @include responsive.mq(sm) {
      margin-bottom: utils.spacing(1.5);
    }
  }
}
