@use '../../../theme/scss/responsive.scss';
@use '../../../theme/scss/utils.scss';

.DaBaseSectionHeaderComponent {
  &-buttons {
    @include responsive.mq(sm) {
      flex-direction: column;
      
      & .DaButtonComponent-root {
        width: 100%;
      }
    }
  }

  &-buttons, &-description {
    margin-top: utils.spacing(5);
  }

  &-chip {
    margin-bottom: utils.spacing(5);
  }

  &-root {
    max-width: 954px;
    margin: 0 auto;
    text-align: center;
  }
}
