@use '../../../theme/scss/responsive.scss';
@use '../../../theme/scss/utils.scss';

.DaFeatureCardComponent {
  &-image {
    padding-inline: utils.spacing(10.5);
    
    & .DaImageComponent-image {
      display: block;

      @include responsive.mq(lg, min) {
        border-top-left-radius: utils.spacing(0.5);
        border-top-right-radius: utils.spacing(0.5);
      }
    }

    @include responsive.mq(xl) {
      padding-inline: utils.spacing(8);
    }

    @include responsive.mq(lg) {
      padding-inline: 0;
    }
  }

  &-root {
    max-width: 650px;
  }

  &--withImage {
    & .DaFeatureCardHeaderComponent-root {
      margin-bottom: utils.spacing(2.5);

      @include responsive.mq(lg) {
        margin-bottom: 0;
      }
    }
  }
}
