@use '../../../theme/css/responsive.scss' as responsive;

.DaWhyUsSectionModule {
  &-header {
    display: grid;
    gap: calc(12.5*var(--mui-spacing));
    grid-template-columns: repeat(2,1fr);
    margin-bottom: calc(12.5*var(--mui-spacing));
    max-width: none;
    text-align: initial;
    
    & .DaBaseSectionHeaderComponent {
      &-description {
        margin-top: 0;
      }
    }

    @include responsive.mq(lg) {
      display: flex;
      flex-direction: column;
      gap: calc(5*var(--mui-spacing));
      margin-bottom: calc(10*var(--mui-spacing));
    }
  }

  &-masonry {
    margin: 0;

    & .DaFeatureCardComponent {
      &-root {
        @include responsive.mq(md) {
          max-width: 100%;
        }
      }
    }

    & > div {
      @include responsive.mq(md) {
        margin-inline: 0;
        width: 100%;
      }

      &:nth-of-type(2) {
        @include responsive.mq(md, min) {
          margin-top: calc(7.5*var(--mui-spacing));
        }
      }
    }

    @include responsive.mq(md) {
      height: auto;
    }
  }
}
