@use '../../../theme/scss/responsive.scss';
@use '../../../theme/scss/utils.scss';

.DaModulesSectionModule {
  &-list {
    display: grid;
    gap: utils.spacing(5);
    grid-template-columns: repeat(3,1fr);

    & .DaModuleCardComponent {
      &-root {
        @include responsive.mq(md) {
          max-width: 100%;
        }
      }
    }

    @include responsive.mq(lg) {
      gap: utils.spacing(4);
    }

    @include responsive.mq(md) {
      grid-template-columns: none;
    }

    @include responsive.mq(lg) {
      gap: utils.spacing(3);
    }
  }
}
